<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>shake</title>
    <style type="text/css">
        #body {
            text-align: center;
        }

        #test {
            width: 200px;
            position: absolute;
            margin: 10px auto;
            height: 100px;
            border: 2px dotted red;
            text-align: center
        }
    </style>
</head>

<body>
    <div style="margin:10px 200px">
        <div>
            <input type="button" value="~点这里让我抖抖吧~" onclick="nn.start()" /></div>
        <div>
            <input type="button" value="晃晕了，我不抖了！" onclick="nn.stop()" /></div>
        <div id="test">
            <br>
        </div>
    </div>
    <p>　</p>
    <p>　</p>
</body>

</html>
<script type="text/javascript">
    var m = document.getElementById("test");
    function SKclass(obj, Rate, speed) {
        var oL = obj.offsetLeft;
        var oT = obj.offsetTop;
        this.stop = null;
        this.oTime = null;
        var om = this;
        this.start = function () {
            if (parseInt(obj.style.left) == oL - 2) {
                obj.style.top = oT + 2 + "px";
                setTimeout(function () { obj.style.left = oL + 2 + "px" }, Rate)
            }
            else {
                obj.style.top = oT - 2 + "px";
                setTimeout(function () { obj.style.left = oL - 2 + "px" }, Rate)
            }
            this.oTime = setTimeout(function () { om.start() }, speed);
        }
        this.stop = function () {
            clearTimeout(this.oTime);

        }
    }
    var nn = new SKclass(m, 20, 70);
</script>
</body>

</html>